.left-right {
    overflow:hidden;
    height:100vh;
    width:100%;
    position:absolute;
    background: rgba(0, 0, 0, 0.0);
}
.homeTextLower {
    font-family: 'Luckiest Guy', cursive;
	font-size: 13vw;
    width:50%;
    height:12vw;
    position:absolute;
    top:40%;
    right:-50%;
    /* background: rgba(0, 0, 0, 0.5); */
	z-index: 5;
}
.homeTextShawn {
    font-family: 'Luckiest Guy', cursive;
	font-size: 13vw;
	text-align: right;
    width:50%;
    height:12vw;
    position:absolute;
    top:40%;
    left:-50%;
    /* background: rgba(0, 0, 0, 0.5); */
	z-index: 5;
}
.navContainer {
    position:absolute;
	overflow:hidden;
    top:0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.0);
	z-index: 0;
}
#navTL {
    position:absolute;
    top:0px;
	left: 0;
    width: 50%;
    height: 50%;
	background: slategrey;
}
#navTR {
    position:absolute;
    top:0px;
	left: 50%;
    width: 50%;
    height: 50%;
    background: slateblue;
}
#navBL {
    position:absolute;
    top:50%;
	left: 0;
    width: 50%;
    height: 50%;
    background: slateblue;
}
#navBR {
    position:absolute;
    top:50%;
	left: 50%;
    width: 50%;
    height: 50%;
    background: slategrey;
}
.navBox {
    font-family: 'Asap', sans-serif;
	font-size: 5vw;
	line-height: 35vw;
	text-align: center;
	opacity: 0.8;
	z-index: 2;
}
.navBoxHover {
    font-family: 'Asap', sans-serif;
	font-size: 5vw;
	cursor: pointer;
	color: white;
	line-height: 35vw;
	text-align: center;
	opacity: 1.0;
	z-index: 2;
}
